html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #343a40;
    color: white;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 390px;
}

#select {
    width: auto;
	display:inline;
    color: black;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
	height: 48px;
}

#search-container {
    margin-top: 30px;
}

#searchbar {
    height: 48px;
    width:250px;
}

#search-button {
    width: 390px;
}

footer {
    margin-top: 50px;
    color: grey;
}

@media only screen and (max-width: 575px) {
    .mainDiv {
        width: 330px;
    }

    #searchbar {
        width:190px;
    }

    #search-button {
        width: 90%;
    }

}